<div class="header">
  <div class="header__wrapper">
    <div class="header__logo">
      <img src="/assets/styles/images/logo.svg">
    </div>
    <div class="header__menu">
      <div class="header__bell">
        <img src="/assets/styles/images/bell.png" alt="">
      </div>
      <div class="header__user">
        <div class="header__user-avatar">
          <img src="https://pp.userapi.com/c639619/v639619504/2f574/nua37r6QCP4.jpg" alt="">
        </div>
        <div class="header__user-name">{{loginService.user.first_name}} {{loginService.user.last_name}}</div>
      </div>
    </div>
  </div>
</div>
