<div class="blockhead">
  <div class="blockhead__wrapper">
    <div class="blockhead__title">
      Балда
    </div>

    <div class="blockhead__game">
      <div class="blockhead__info">
        <div class="blockhead__user _left">
          <div class="blockhead__user-logo">
            <img src="https://pp.userapi.com/c639619/v639619504/2f574/nua37r6QCP4.jpg">
          </div>
          <div class="blockhead__user-name">Курочкин Владислав</div>
        </div>

        <div class="blockhead__words">
          <div class="blockhead__words-item">
            <div class="blockhead__words-item-value">Col</div>
            <div class="blockhead__words-item-translation">(Седло)</div>
          </div>
          <div class="blockhead__words-item">
            <div class="blockhead__words-item-value">Cow</div>
            <div class="blockhead__words-item-translation">(Корова)</div>
          </div>
          <div class="blockhead__words-item">
            <div class="blockhead__words-item-value">Wolf</div>
            <div class="blockhead__words-item-translation">(Волк)</div>
          </div>
        </div>
        <div class="blockhead__score">
          <div class="blockhead__score-text">Очки:</div>
          <div class="blockhead__score-value">11</div>
        </div>
        <div class="blockhead__actions">
          <div class="blockhead__actions-miss">Пропустить ход</div>
          <div class="blockhead__actions-giveup">Сдаться</div>
        </div>
      </div>
    </div>
  </div>
</div>
