<div class="blockhead">
  <div class="blockhead__wrapper">
    <div class="blockhead__title">
      Балда
    </div>

    <div class="blockhead__game">
      <div class="blockhead__info">
        <div class="blockhead__user _left">
          <div class="blockhead__user-logo">
            <img src="https://pp.userapi.com/c639619/v639619504/2f574/nua37r6QCP4.jpg">
          </div>
          <div class="blockhead__user-name">Курочкин Владислав</div>
        </div>

        <div class="blockhead__words">
          <div class="blockhead__words-item">
            <div class="blockhead__words-item-value">Col</div>
            <div class="blockhead__words-item-translation">(Седло)</div>
          </div>
          <div class="blockhead__words-item">
            <div class="blockhead__words-item-value">Cow</div>
            <div class="blockhead__words-item-translation">(Корова)</div>
          </div>
          <div class="blockhead__words-item">
            <div class="blockhead__words-item-value">Wolf</div>
            <div class="blockhead__words-item-translation">(Волк)</div>
          </div>
        </div>
        <div class="blockhead__score">
          <div class="blockhead__score-text">Очки:</div>
          <div class="blockhead__score-value">11</div>
        </div>
        <div class="blockhead__actions">
          <div class="blockhead__actions-btn _miss">Пропустить ход</div>
          <div class="blockhead__actions-btn _giveup">Сдаться</div>
        </div>
      </div>

      <div class="blockhead__game-field" #gameField>
        
      </div>

      <div class="blockhead__info">
          <div class="blockhead__user _right">
            <div class="blockhead__user-name">Андросова Татьяна</div>
            <div class="blockhead__user-logo">
              <img src="https://pp.userapi.com/c621707/v621707411/384ca/a1Nf_PM17_U.jpg">
            </div>
          </div>
  
          <div class="blockhead__words _right">
            <div class="blockhead__words-item">
              <div class="blockhead__words-item-value">Offer</div>
              <div class="blockhead__words-item-translation">(Предложение)</div>
            </div>
            <div class="blockhead__words-item">
              <div class="blockhead__words-item-value">Cold</div>
              <div class="blockhead__words-item-translation">(Холод)</div>
            </div>
            <div class="blockhead__words-item">
              <div class="blockhead__words-item-value">Floor</div>
              <div class="blockhead__words-item-translation">(Потолок)</div>
            </div>
            <div class="blockhead__words-item">
                <div class="blockhead__words-item-value">Def</div>
                <div class="blockhead__words-item-translation">(Защита)</div>
              </div>
          </div>
          <div class="blockhead__score _right">
            <div class="blockhead__score-text">Очки:</div>
            <div class="blockhead__score-value">11</div>
          </div>
          <div class="blockhead__actions">
            <div class="blockhead__actions-btn _watch-statistics">Посмотреть статистику</div>
          </div>
        </div>
    </div>
  </div>
</div>
