<div class="alias">
  <div class="alias__wrapper">
    <div class="alias__waiting" *ngIf="!started; else game">
      <div class="alias__waiting-text">
        {{waitingMessage}}
      </div>
    </div>
    <ng-template #game>
      <div class="alias__game">
        <div class="alias__info">
          <div class="alias__user _left">
            <div class="alias__user-logo">
              <img src="{{left?.photo}}">
            </div>
            <div class="alias__user-name">{{left?.name}}</div>
          </div>

          <div class="alias__describe">
            <div class="alias__describe-text">
              Вам нужно объяснить слово:
            </div>
            <div class="alias__describe-word">
              <div class="alias__describe-word-value">{{wordDescribe}}</div>
              <div class="alias__describe-word-translation">(...)</div>
            </div>
          </div>

          <div class="alias__actions">
            <div class="alias__actions-btn _miss">
              Пропустить слово
            </div>
          </div>
          <!-- <div class="alias__score">
            <div class="alias__score-text">Очки:</div>
            <div class="alias__score-value">{{turn ? me.score : opponent.score}}</div>
          </div> -->
        </div>

        <div class="alias__game-field">
          <div class="alias__time-remained">{{timeRemained || '0:00'}}</div>
          <div class="alias__descriptions">
            <div class="alias__descriptions-item" [ngClass]="description?.class" *ngFor="let description of descriptions">
              {{description.text}}
            </div>
          </div>
          <input type="text" class="alias__input" [(ngModel)]="inputData" placeholder="Введите сообщение" (keyup.enter)="$event.keyCode === 13 && send()">
          <div class="alias__actions-btn _send" (click)="send()">
            <img src="/assets/styles/images/arrow.svg" alt="">
          </div>
        </div>

        <div class="alias__info">
            <div class="alias__user _left">
              <div class="alias__user-logo">
                  <img src="{{right?.photo}}">
              </div>
              <div class="alias__user-name">{{right?.name}}</div>
            </div>
  
            <div class="alias__describe">
              <div class="alias__describe-text">
                Осталось попыток
              </div>
              <div class="alias__describe-word">
                <div class="alias__describe-word-value">{{maxFailes - failes}}</div>
                <div class="alias__describe-word-translation _from">из</div>
                <div class="alias__describe-word-translation _dark">{{maxFailes}}</div>
              </div>
            </div>
  
            <div class="alias__actions">
              <div class="alias__actions-btn _giveup">
                Посмотреть статистику
              </div>
            </div>
            <!-- <div class="alias__score">
              <div class="alias__score-text">Очки:</div>
              <div class="alias__score-value">{{turn ? opponent.score : me.score}}</div>
            </div> -->
          </div>


      </div>
    </ng-template>
  </div>
</div>
