.tooltip {

    &__wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    position: absolute;
    min-width: 150px;
    text-align: center;
    background-color: white;
    padding: 5px 0;
    opacity: 0;
    transform: translateY(-100%) scaleY(0);
    transition: opacity .2s ease, transform .2s ease;
    @include border-bottom(4px, $light-grey);
    border-radius: 13px;
    border-top-right-radius: 0;

    &::before {
        position: absolute;
        content: "";
        top: -3px;
        right: -10px;
        width: 0px;
        height: 0px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid white;
        transform: rotate(135deg);
    }

    &._active {
        opacity: 1;
        transform: translateY(60%) scaleY(1);
    }

    &__list {
        &-item {
            padding: 15px;
            color: $dark-blue;
            background-color: white;
            cursor: pointer;

            &:hover {
                color: white;
                background-color: $dark-blue;
            }
        }
    }
}
