<div class="login">
  <div class="login__container">
    <img src="assets/styles/images/login-logo.png" class="login__logo">
    <div class="login__sign-in">
      <div class="sign-in">
        <div class="sign-in__text">
          Войти с помощью
        </div>
        <div class="sign-in__social-icon">
          <img src="assets/styles/images/vk.png" alt="">
        </div>
        <div class="sign-in__social-icon">
          <img src="assets/styles/images/ok.png" alt="">
        </div>
        <div class="sign-in__social-icon">
          <img src="assets/styles/images/fb.png" alt="">
        </div>
      </div>
    </div> 
  </div>

  <div class="cloud1">
    <img src="assets/styles/images/cloud1.png" alt="">
  </div>

  <div class="cloud1_circle1"></div>
  <div class="cloud1_circle2"></div>
  
  <div class="cloud2">
    <img src="assets/styles/images/cloud2.png" alt="">
  </div>

  <div class="cloud2_circle"></div>

</div>

