<div class="opponents">
  <div class="opponents__container">
    <div class="opponents__title">
      <div class="opponents__text">
        Выберите соперника
      </div>
      <div class="opponents__arrow">
        <img src="/assets/styles/images/arrow.svg">
      </div>
    </div>
    <div class="opponents__main-content">
      <div class="main-content">
        <div class="main-content__tabs">
          <div class="main-content__tabs-background"></div>
          <div class="main-content__tab _active">Все</div>   
          <div class="main-content__tab">Друзья</div>   
        </div>
        <div class="main-content__body">
          <div class="main-content__list">
            <div class="main-content__item">
              <div class="opponent">
                <div class="opponent__avatar">
                  <img src="/assets/styles/images/user.jpg" alt="">
                </div>
                <div class="opponent__name">
                  Владислав Курочкин
                </div>
                <button class="opponent__button" routerLink="/blockhead">
                  Вызвать
                </button>
              </div>
            </div>
            <div class="main-content__item">
              <div class="opponent">
                <div class="opponent__avatar">
                  <img src="/assets/styles/images/user.jpg" alt="">
                </div>
                <div class="opponent__name">
                  Владислав Курочкин
                </div>
                <button class="opponent__button" routerLink="/blockhead">
                  Вызвать
                </button>
              </div>
            </div>
            <div class="main-content__item">
              <div class="opponent">
                <div class="opponent__avatar">
                  <img src="/assets/styles/images/user.jpg" alt="">
                </div>
                <div class="opponent__name">
                  Владислав Курочкин
                </div>
                <button class="opponent__button" routerLink="/blockhead">
                  Вызвать
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="opponents__action">
        <div class="opponents__button">Назад</div>
      </div>
    </div>
  </div> 
</div>