.statistics {
    width: 100%;
    height: 100%;
    background: $primary-orange;

    &__container {
        margin: 0 auto;
        max-width: $max-width;
    }

    &__title {
        display: flex;
        align-items: center;
        padding-top: 35px;
        letter-spacing: 0.08em;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 28px;
        color: white;    
        @include font-bold();
        margin-right: 35px;
    }

    &__arrow {
        position: relative;
        left: -14px;
        top: 4px;
        max-width: 45px;
    }

    &__main-content {
        display: flex;
        justify-content: space-between;
    }
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    
    &__avatar {
        position: relative;
        width: 100px;
        height: 100px;
        margin-bottom: 15px;        
        border-radius: 50%;
        border: 2px solid white;

        img {
            position: absolute;
            top: 8px;
            right: 8px;
            bottom: 8px;
            left: 8px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    }

    &__name {
        font-size: 19px;
        color: white;    
        @include font-regular();
    }
}

.main-content {
    min-width: 300px;

    &__detail-statistics {
        display: flex;
        justify-content: space-between;
    }
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__count {
        width: 78px;
        height: 38px;
        background: white;
        margin-bottom: 15px;
        border-radius: 10px;
        line-height: 38px;
        text-align: center;
        font-size: 21px;
        @include font-regular();
        @include border-bottom(3px, $light-grey);
/*
        &_total {
            color: $neutral-color;
        }
        &_win {
            color: $win-color;
        }
        &_lose {
            color: $lose-color;
        }*/
    }

    &__text {
        font-size: 15px;
        color: white;    
        @include font-regular();
    }
}