$max-width: 950px;

$light-grey: #D6D6D6;

$primary-orange: #fab22c;
$dark-orange: #be7a11;

$primary-blue: #11abe9;
$dark-blue: #1299ea;

$primary-orangered: #ff663a;
$dark-orangered: #ff522a;

$primary-green: #00c569;
$dark-green: #00b564;

$primary-red: #f92b35;
$dark-red: #dd1d26;

$primary-violet: #c16ab2;
$dark-violet: #9e5a92;