<div class="games">
  <div class="games__wrapper">
    <div class="games__choose">
      <div class="games__choose-text">
        Выберите игру
      </div>
      <div class="games__choose-arrow">
        <img src="/assets/styles/images/arrow.svg">
      </div>
    </div>
    <div class="games__list">
      <div class="games__list-item">
        <div class="games__game">
          <div class="games__game-header">
            <div class="games__game-header-number">
              01
            </div>
            <div class="games__game-header-title">
              Балда
            </div>
          </div>
          <div class="games__game-content">
            Лингвистическая настольная игра <br>
            для 2 - 4 игроков, в которой необходимо <br>
            составлять слова с помощью букв
          </div>
          <div class="games__game-toolbar">
            <div class="games__game-toolbar-play">Играть</div>
            <div class="games__game-toolbar-online">240 Online</div>
          </div>
        </div>

      </div>
      <div class="games__list-item"></div>
      <div class="games__list-item"></div>
      <div class="games__list-item"></div>
      <div class="games__list-item"></div>
      <div class="games__list-item"></div>
    </div>
  </div>
</div>
