<div class="games">
  <div class="games__wrapper">
    <div class="games__choose">
      <div class="games__choose-text">
        Выберите игру
      </div>
      <div class="games__choose-arrow">
        <img src="/assets/styles/images/arrow.svg">
      </div>
    </div>
    <div class="games__list">
      <div class="games__list-item" *ngFor="let game of games">
        <div class="games__game">
          <div class="games__game-header">
            <div class="games__game-header-number" [ngClass]="game.class">
              {{game.number}}
            </div>
            <div class="games__game-header-title">
              {{game.title}}
            </div>
          </div>
          <div class="games__game-content">
            {{game.description}}
          </div>
          <div class="games__game-toolbar">
            <div class="games__game-toolbar-play" [ngClass]="game.class" routerLink="/{{game.url}}">Играть</div>
            <div class="games__game-toolbar-online">{{game.online}} Online</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
