<div class="games">
  <div class="games__wrapper">
    <div class="games__choose">
      <div class="games__choose-text">
        Выберите игру
      </div>
      <div class="games__choose-arrow">
        <img src="/assets/styles/images/arrow.svg">
      </div>
    </div>
    <div class="games__list">
      <div class="games__list-item"></div>
      <div class="games__list-item"></div>
      <div class="games__list-item"></div>
      <div class="games__list-item"></div>
      <div class="games__list-item"></div>
      <div class="games__list-item"></div>
    </div>
  </div>
</div>
