<div class="statistics">
  <div class="statistics__container">
    <div class="statistics__title">
      <div class="statistics__text">
        Статистика
      </div>
      <div class="statistics__arrow">
        <img src="/assets/styles/images/arrow.svg">
      </div>
    </div>
    <div class="statistics__main-content">
      <div class="main-content">
        <div class="main-content__total-results">
          <div class="user">
            <div class="user__avatar">
              <img src="assets/styles/images/user-big.jpg" alt="">
            </div>
            <div class="user__name">
              Владислав Курочкин
            </div>
          </div>
          <div class="results">
            <div class="result">
              <div class="result__count result__count_total">160</div>
              <div class="result__text">Очков</div>
            </div>
            <div class="result">
              <div class="result__count result__count_win">18</div>
              <div class="result__text">Побед</div>
            </div>
            <div class="result">
              <div class="result__count result__count_lose">5</div>
              <div class="result__text">Поражений</div>
            </div>
          </div>
        </div>
        <div class="main-content__detail-statistics">
          <div class="detail-statistics">
              <div class="detail-statistics__list">
                <div class="detail-statistics__row detail-statistics__row_title">
                    <div class="detail-statistics__game">Игра</div>
                    <div class="detail-statistics__win">Победы</div>
                    <div class="detail-statistics__lose">Поражения</div>
                </div>
                <div class="detail-statistics__row">
                  <div class="detail-statistics__game">Балда</div>
                  <div class="detail-statistics__win _max">6</div>
                  <div class="detail-statistics__lose">1</div>
                </div>
                <div class="detail-statistics__row">
                  <div class="detail-statistics__game">4 картинки 1 слово</div>
                  <div class="detail-statistics__win">4</div>
                  <div class="detail-statistics__lose">1</div>
                </div>
                <div class="detail-statistics__row">
                  <div class="detail-statistics__game">Квиз Плиз</div>
                  <div class="detail-statistics__win">3</div>
                  <div class="detail-statistics__lose _max">2</div>
                </div>
                <div class="detail-statistics__row">
                  <div class="detail-statistics__game">Борьба умов</div>
                  <div class="detail-statistics__win">3</div>
                  <div class="detail-statistics__lose">1</div>
                </div>
                <div class="detail-statistics__row">
                  <div class="detail-statistics__game">Да или нет</div>
                  <div class="detail-statistics__win">1</div>
                  <div class="detail-statistics__lose">0</div>
                </div>
                <div class="detail-statistics__row">
                  <div class="detail-statistics__game">Где логика?</div>
                  <div class="detail-statistics__win">1</div>
                  <div class="detail-statistics__lose">0</div>
                </div>
              </div>
              
          </div>    
        </div>  
      </div>
      <div class="statistics__action">
          <button class="statistics__button">
              Назад
            </button>
      </div>
    </div>
  </div>
</div>
