<div class="statistics">
  <div class="statistics__container">
    <div class="statistics__title">
      <div class="statistics__text">
        Статистика
      </div>
      <div class="statistics__arrow">
        <img src="/assets/styles/images/arrow.svg">
      </div>
    </div>
    <div class="statistics__main-content">
      <div class="main-content">
        <div class="main-content__total-results">
          <div class="user">
            <div class="user__avatar">
              <img src="assets/styles/images/user-big.jpg" alt="">
            </div>
            <div class="user__name">
              Владислав Курочкин
            </div>
          </div>
        </div>
        <div class="main-content__detail-statistic">
          <div class="result">
            <div class="result__count result__count_total">160</div>
            <div class="result__text">Очков</div>
          </div>
          <div class="result">
            <div class="result__count result__count_win">18</div>
            <div class="result__text">Побед</div>
          </div>
          <div class="result">
            <div class="result__count result__count_lose">5</div>
            <div class="result__text">Поражений</div>
          </div>
            
        </div>  
      </div>
      <button class="statistic__button">
        Назад
      </button>
    </div>
  </div>
</div>
